
    /* google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  padding: 0px 15px 0px 15px;
  overflow: hidden;
}

:root{
  --primary-color: #008fe2;
  --primary-bg-color: #f1f1f1;
}

.nav {
  background: #f4f0f0;
  padding-block: 14px;
  padding-inline: 1%;
}

.nav-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-info a {
  text-decoration: none;
  color: #6f6060;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  border-right: 2px solid #bdb2b2;
  padding-right: 10px;
  height: 100%;
}

.nav-info a span {
  color: #1167db;
  font-size: 16px;
  margin-right: 8px;
}

.nav-info span {
  color: #837e7e;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.nav2 {
  background: #ffffff;
  height: 80px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 99;
  padding-inline: 2%;
}

.nav2 .container {
  height: 100%;
}

.menuwraper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

#check{
  display: none;
}

.checkbtn #bars,
.checkbtn #cancel {
  /* background: #076eff; */
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 24px;
  color: #000000;
  display: none;
  cursor: pointer;
}


.menu-list {
  width: 60%;
  display: flex;
  align-items: center;
}

.menu-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.menu-list ul li a {
  text-decoration: none;
  color: #a889ff;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  border-radius: 3px;
  transition: all 0.4s;
}

.homefixed{
  background: #085cab;
  color: #fff !important;
}

.menu-list ul li a:hover{
  background: #085cab;
  color: #fff;
}
.menu-list ul:hover .homefixed{
  background: rgb(0, 140, 228);
  color: #fff;
}

ul.dropdown-menu {
  width: 220px;
  position: absolute;
  display: none;
  background: #4161cc;
  top: 34px;
  left: 0;
  padding-block: 4px;
  border-radius: 2px;
  transition: all .3s;
}

li.dropdown-menu-list {
  position: relative;
}

li.dropdown-menu-list:hover ul.dropdown-menu{
  display: block;
} 

ul.dropdown-menu li {
  border-bottom: 1px solid #1f1ec0;
}

ul.dropdown-menu li:last-child{
  border-bottom: none;
}

ul.dropdown-menu li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

/* Medical */

#medical-section {
  background: linear-gradient(#00000030, #2071a166), url(../images/slide-medical-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
}

.medical-heading h1 {
  padding-top: 280px;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

.medical-heading p {
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}

.medical-heading span {
  color: #fff;
  display: block;
  margin-top: 10px;
  font-size: 18px;
  border-bottom: 1px solid;
  width: 245px;
  line-height: 30px;
}

.medical-details {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}

.medical-info {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .8s;
}

.medical-info:hover.medical-info:nth-child(2) span{
 transform: translateX(5px);
}

.medical-info:hover.medical-info:nth-child(3) span{
  transform: rotate(90deg);
  
 }

.medical-info:first-child {
  background: var(--primary-color);
  display: flex;
  align-items: center;
}

.medical-info:nth-child(3) {
  background: var(--primary-color);
  font-size: 14px;
  position: relative;
}

.medi-dropdown{
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--primary-color);
  color: var(--primary-bg-color);
  
}

.medical-info:nth-child(2) {
  background: #3aabdd;
  font-size: 14px;
}

.medical-info:nth-child(4) {
  background: #2d529f;
}

.medical-info:nth-child(2) a{
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.medical-info:nth-child(3) a{
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.phonedesc span, a{
  display: block;
  text-decoration: none;
  color: #fff;
}

.phoneicon {
  margin-right: 8px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
}

.phoneicon span {
  display: block;
  width: 100%;
  font-size: 35px !important;
  filter: contrast(0) brightness(2);
}

.phonedesc span {
  font-size: 14px;
  color: #ddd;
}

.phonedesc a {
  font-size: 23px;
}

.medical-info:first-child a {
  font-size: 22px;
  font-weight: 600;
  width: 150px;
  line-height: 25px;
  margin-left: 20px;
}

.medical-info:first-child::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}
.afterarrow{
  position: relative;
}

.medical-info:first-child::after {
  content: '';
  border-bottom: 51px solid transparent;
  border-top: 51px solid transparent;
  border-left: 40px solid var(--primary-color);
  position: absolute;
  right: -39px;
  top: 0;
  height: 0px;
  width: 0px;
}

.medical-info:nth-child(2) span {
  display: inline-block;
  margin-left: 5px;
  transition: all .3s cubic-bezier(0.05, 0.57, 0.6, 0.33);
} 

.medical-info:nth-child(3) span {
  display: inline-block;
  margin-left: 5px;
  transition: all .4s;
}

/* About us */

.aboutwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0px;
}

.about-content h1 {
  font-size: 35px;
  font-weight: 600;
}

.about-content h2 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #574a4a;
}

.about-content p {
  line-height: 26px;
  font-size: 15px;
  color: #777474;
  margin-bottom: 40px;
}

.about-content a {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  border: 2px solid black;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 50px;
  transition: all .4s;
}

.about-content a:hover{
  background: #000;
  color: #fff;
}

.about-content {
  width: 65%;
}

.about-image {
  width: 33%;
}

.about-image img {
  width: 100%;
  box-shadow: 0px 5px 22px 0px #c2bfbf;
}

/* Department */

#departments {
  background: var(--primary-bg-color);
  padding: 70px 0;
}

.depheading h1 {
  font-size: 33px;
  font-weight: 600;
}

.depheading p {
  font-size: 20px;
  margin-bottom: 45px;
}

.catagory1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catagory2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content-box {
  display: flex;
  width: 32%;
}

.depcontent a {
  color: #0092e3;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.depcontent a:hover {
  color: #149ff1;
}

.depcontent {
  padding-left: 25px;
}

.depcontent p {
  font-size: 14px;
  color: #7f7d7d;
  line-height: 26px;
}

.department-btn {
  text-decoration: none;
  display: block;
  margin: auto;
  border: 2px solid black;
  border-radius: 50px;
}

.department-btn a {
  width: 100%;
  height: 100%;
  color: black;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
  display: flex;
  padding: 10px 25px;
  align-items: center;
  font-family: 'Poppins',sans-serif;
  justify-content: center;
  transition: all .4s;
}

.department-btn a:hover{
  background: rgb(0, 0, 0);
  color: rgb(255,255,255);
}


/* Doctors */

section#doctors {
  padding: 60px 0;
}

.doctheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctheading h1 {
  font-size: 35px;
  font-weight: 600;
}

.doctheading p {
  font-size: 18px;
  font-weight: 400;
  color: #909090;
}

.doctor-arrow {
  display: flex;
  align-items: center;
}

.doctor-arrow-r span {
  font-size: 35px !important;
  color: #c5b2b2;
}

.doctor-arrow-l span {
  font-size: 35px !important;
  color: #0092e3;
  margin-right: 5px;
}

.doctors-picture-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}


/* Specialist */

.specialist {
  width: 23%;
  cursor: pointer;
  transition: all .5s;
}

.specialist_pic {
  height: 370px;
}

.specialist_pic img {
  width: 100%;
}

.specialist_desc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 19px 0;
  transition: background .5s;
}

.specialistName h3 {
  font-weight: 300;
  color: #acacac;
  font-size: 16px;
}

.specialistName h2 {
  font-size: 20px;
  font-weight: 600;
}

.specialist-arrow span {
  font-size: 30px !important;
}

.specialist:hover .specialist_desc{
  background: #0092e3;
  color: #fff;
} 

.specialist:hover .specialist_desc .specialistName h3{
  color: #fff;
}

/* Resources */

#resources{
  padding: 60px 0;
  background: var(--primary-bg-color);
}


.reso_head h1 {
  font-size: 35px;
  font-weight: 600;
}

.reso_head p {
  font-size: 18px;
  font-weight: 400;
  color: #909090;
  margin-bottom: 25px;
}

.resource-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resource-wrapper a {
  width: 32%;
  display: block;
}

.reso-img-box {
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s;
}

.reso-img-box:hover{
  box-shadow: 0px 15px 45px 0px #afafaf;
}

.reso-image img {
  width: 100%;
}

.image-content {
  padding: 13px 30px 33px;
}

.image-content p {
  font-size: 13px;
  color: #8d8181;
  font-weight: 300;
}

.image-content h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

.reso_btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reso_btn a {
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  background: #fff;
  padding: 10px 25px;
  border: 2px solid #000;
  border-radius: 25px;
  transition: all 0.3s;
}

.reso_btn a:hover{
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

/* Insurance */


#insurance{
  padding: 60px 0;
}


.insu-head h1 {
  font-size: 35px;
  font-weight: 600;
}

.insu-head p {
  font-size: 18px;
  font-weight: 400;
  color: #909090;
  margin-bottom: 25px;
}

.insurance-wrapper {
  display: flex;
  align-items: center;  
  flex-wrap: wrap;
}

.insurance-box {
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #bfb1b1;
}

.insu-img-box {
  width: 33%;
  padding: 23px;
  border-right: 1px solid #bfb1b1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insu-img-box img {
  height: 75px;
}

.insu-img-box:last-child {
  border-right: none;
}

.insu-img-box:first-child {
  border-left: none;
}

/* John- */

.john-sym1 h2 {
  font-size: 40px;
  font-family: Georgia, serif;
  color: #fff;
  height: 100%;
  position: relative;
  transform: translateY(50%)translateY(-25%);
}

.john-content {
  position: relative;
  width: 100%;
  margin: auto;
}

.john-sym2 {
  position: absolute;
  top: -10px;
  left: 8%;
}

.john-sym2 h2{
  font-size: 33px;
  font-family: Gorgea,serif;
  color: #fff;
}

.john-sym3 {
  position: absolute;
  bottom: 12px;
  right: 12%;
  transform: rotate(180deg);
}

.john-sym3 h2{
  font-size: 33px;
  font-family: Gorgea, serif;
  color: #fff;
}

#john{
  padding: 60px 0;
  background: #2D529F;
}

.john-content p {
  width: 70%;
  margin: auto;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 20px;
}

.john-sym-wrapper {
  width: 55px;
  height: 55px;
  margin: auto;
  margin-bottom: 27px;
  border: 1px solid #fff;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: context-menu;
}

.john-content-box {
  cursor: context-menu;
}

.john-sym1 {
  height: 100%;
}

.middle {
  width: 45px;
  height: 1px;
  background: #b8b8ff;
  margin: auto;
}

.john-name {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  cursor: context-menu;
}


footer {
  padding: 60px 0 0 0;
  background: #34383D;
}

.footerbox-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.footer-box ul li {
  list-style: none;
  font-size: 13px;
  line-height: 25px;
  color: #989595;
}

.footer-box h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

footer p {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #4e5a66;
  font-size: 13px;
  color: #989595;
}

.footer-box ul li span:first-child {
  padding: 0px 16px;
  color: #fff;
}

.footer-box ul li span.dot {
  padding: 0px 6px;
}

.footer-box ul li span:last-child {
  color: #fff;
}

.footer-box .contact-link {
  font-size: 28px;
  color: #989595;
  font-weight: 300;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-box .social .icon {
  background: #fff;
  margin-right: 7px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.social .icon a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.fix {
  width: 40px;
  height: 40px;
  background: #474242c4;
  border-top-left-radius: 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 15px;
  position: fixed;
  bottom: 8px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

.fix a {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 0.2s cubic-bezier(0.39, 0.55, 0.69, 0.98);
  align-items: center;
  justify-content: center;
}

.fix:hover  a {
  color: #00ffdf;
  transform: rotateZ(8deg);
  transform-origin: right;
}

.fix a span {
  font-size: 20px;
}


/* About_Us - page */


section#common-top {
  background: var(--primary-color);
  padding-block: 40px;
}

.common-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.common-right {
  display: flex;
  align-items: center;
}

.common-left h3 {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.common-left h3::selection,
.common-left p::selection,
.common-right span::selection{
  cursor: copy;
}

.common-left p {
  color: #eae1e1;
}

.common-right a {
  margin-right: 10px;
  font-size: 14px;
}

.common-right a:hover{
  text-decoration: underline;
}

.common-right span {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eae1e1;
}

.common-right span:before {
  content: ">";
  padding-right: 10px;
  font-size: 15px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 40px;
}

.about-left {
  width: 70%;
}

.about-right {
  width: 28%;
}

.about-left h2 {
  font-size: 32px;
  margin-bottom: 12px;
  font-weight: 600;
}

.about-left p {
    font-size: 18px;
}

p.about-para {
    font-size: 15px;
    margin-top: 20px;
    color: #6f6666;
}

.about-img img {
  width: 100%;
}

.about-img {
  overflow: hidden;
}

.about-right h2 {
  font-size: 50px;
  text-align: center;
  color: #6c6ce2;
  margin-top: 12px;
  margin-bottom: -10px;
}

.about-right p {
  text-align: center;
  font-size: 20px;
  color: #786f6fee;
}

/* About-footer-top */

#footer-top {
  background: var(--primary-bg-color);
  padding-block: 50px;
}

.footer-top-content h2 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.ft-top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-top-content p {
  font-size: 17px;
  text-align: center;
  margin-top: 8px;
}

.ft-top-wrap a {
  display: inline-block;
  color: #fff;
  background: #007bef;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  transition: all .3s;
}

.ft-top-wrap a:hover{
  background: var(--primary-color);
}

.about-accordian {
  margin-bottom: 40px;
}

.accordian-box {
  display: flex;
  align-items: center;
  padding-block: 12px;
  cursor: pointer;
}

.accordian-box p {
  font-size: 14px;
  font-weight: 600;
}

.accordian-box span {
  font-size: 10px;
  margin-right: 10px;
  background: #008eff;
  padding: 4px 7px;
  color: #fff;
  border-radius: 3px;
}

.topic-box a{
  color: #000;
  font-size: 11px;
  font-weight: 700;
  border: 2px solid black;
  padding: 10px 26px;
  display: inline-block;
  border-radius: 50px;
  transition: all .4s;
}

.topic-box a:hover{
  background: #000;
  color: #fff;
}

section#department-special {
  padding-block: 50px;
}

.specialist-body h3 {
  font-size: 32px;
  font-weight: 600;
}

.specialist-body p {
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 30px;
}

.specialist-topic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}

.topic-icon {
  width: 6%;
}

.topic-box {
  width: 94%;
}

.topic-box h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.topic-box p {
  font-size: 14px;
  color: #716d6d;
  margin-bottom: 18px;
}


/* Doctors-page */

div#doctor-box {
  margin-top: 0;
}

#our-specialist{
  padding-block: 50px;
}

.specialist-catagory {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 5px;
}

.specialist-catagory a {
  color: #008cff;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 10px;
  transition: .3s;
}

.specialist-catagory a:hover{
  color: #1d90fbc8;
}

.specialist-catagory a:first-child{
  background: #007bef;
  color: #fff;
}

.specialist-header h3 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
}

.specialist-header p {
  font-size: 20px;
  margin-bottom: 40px;
}



/* Resource -page */

section#resource-sec {
  padding-block: 50px;
}

.image-content-res {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

section#resource-sec {
  padding-block: 50px;
}

.resource-content {
  width: 70%;
}

.resource-img {
  width: 28%;
}

.resource-img img {
  width: 100%;
}

.resource-content p {
  font-size: 14px;
  line-height: 26px;
}

.resource-content a {
  color: #1269e4;
  font-size: 20px;
  font-weight: 600;
  transition: .3s;
}

.resource-content a:hover{
  color: #2872da;
}

.resource-content a:last-child {
  color: #000;
  font-size: 11px;
  font-weight: 700;
  border: 2px solid black;
  padding: 10px 26px;
  display: inline-block;
  border-radius: 50px;
  transition: all .4s;
}

.resource-content a:last-child:hover{
  background: #000;
  color: #fff;
}

.image-content-res:last-child {
  margin-bottom: 0;
}

/* Insurance-page */

section#insurance-body {
  padding-block: 60px;
}

.insurance-main-box{
  display: flex;
  flex-direction: column;
}

.insurance-main-box h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.insurance-main-box p {
  font-size: 20px;
  margin-bottom: 20px;
  width: 95%;
}

.insurance-main-box span {
  display: block;
  margin-bottom: 20px;
  width: 95%;
  font-size: 15px;
  line-height: 25px;
}

.insurance-page-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}

.insurance-page-box:last-child{
  border-bottom: none;
}

.insu-page-img-box {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
  border-right: 1px solid #ddd;
}

.insu-page-img-box:last-child {
  border-right: none;
}

.insurance-page-wrapper {
  border: 1px solid #ddd;
  width: 95%;
  margin-top: 30px;
}

.insu-page-img-box img {
  height: 70px;
}

/* Contact-page */

.address-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid #f6e9e9;
  margin-bottom: 30px;
  padding-block: 50px;
}

.address {
  display: flex;
  width: 33%;
}

.add-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-icon {
  font-size: 24px;
  color: #6464f6;
  margin-right: 25px;
}

.add-info p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.add-info a {
  color: #6464f6;
}

#contact-locate{
  padding-bottom: 80px;
  padding-top: 20px;
}

.contact-location {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.map {
  width: 49%;
  height: 455px;
  border-radius: 6px;
  overflow: hidden;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.form {
  width: 49%;
}

.form h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.name input, .email input, .subject input {
  width: 90%;
  height: 40px;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border: 1px solid #d0c9c9;
  border-radius: 10px;
}
.messege textarea{
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border: 1px solid #84cadf;
  border-radius: 10px;
  resize: vertical;
}


.name input::placeholder, .email input::placeholder, .subject input::placeholder, .messege textarea::placeholder{
  font-size: 13px;
  opacity: .6;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.name input:focus, .email input:focus, .subject input:focus{
  outline: none;
  box-shadow: 2px 3px 6px #a7d6dd;
  transform: translate(-1px, -2px);
  transition: .2s;
}

textarea:focus{
  outline: none;
  box-shadow: 2px 3px 8px #a7d6dd;
}

button.form-btn {
  outline: none;
  border: none;
  padding: 12px 0px;
  border-radius: 8px;
  text-align: center;
  width: 32%;
  font-size: 16px;
  font-weight: 600;
  background: #2b90ec;
  color: #fff;
  cursor: pointer;
  transition: .5s;
}

button.form-btn:hover{
  background: #056fd2;
}